{
  "extends": [
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": ["react", "@typescript-eslint", "import", "prettier"],
  "parserOptions": {
      "ecmaFeatures": {
          "jsx": true
      },
      "ecmaVersion": 12,
      "sourceType": "module"
  },
  "rules": {
    "prettier/prettier": [
      "error", {
          "endOfLine": "auto"
      }
    ],
    "import/order": [
      "error", 
      {
        "groups": [
          "builtin", 
          "external", 
          "internal", 
          "parent",
          "sibling", 
          "index", 
          "object",
          "type"
        ],
        "pathGroups": [
          {
              "pattern": "@*",
              "group": "external",
              "position": "after"
          },
          {
            "pattern": "react",
            "group": "builtin",
            "position": "before"
          }
        ],
        "pathGroupsExcludedImportTypes": ["react"],
        "newlines-between": "always",
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        }
      }
    ],
    "no-console": 1,
    "no-var": "error",
    "no-use-before-define": 1,
    "arrow-body-style": 1,
    // typescript rules
    "@typescript-eslint/consistent-type-imports": 1,
    "@typescript-eslint/no-unused-vars": "error",
    // react rules
    "react/jsx-props-no-spreading": 0,
    "react/react-in-jsx-scope": 0,
    "react/no-array-index-key": "error",
    "react/self-closing-comp": 1
  }
}
